<div>
  {{#if userData.admin}}
  <!-- Error Messages -->
  {{#if adminDashErrorMessage}}
  <div class="message error">
    {{adminDashErrorMessage}}(click to close)
  </div>
  {{/if}}
  <!-- Success messages -->
  {{#if adminDashSuccessMessage}}
  <div class="message success">
    {{adminDashSuccessMessage}}(click to close)
  </div>
  {{/if}}
    <div>
      <h1>Search Eligible Tutors</h1>
      <p>
        Search by course name to see eligible tutors. After searching, click the assign button to add the tutor to the request form.
      </p>
      <div class="float-clear">
        <input type="text" class="float-left" name="courseName" list="courseNames" id="courseName" placeholder="Course Name">
        <div id="searchCourses" class="float-left searchButton">
          <svg viewBox="0 0 46.5 46.5" width="25" fill="#EBEBEB">
            <path d="M17.9,32.5c-3.9,0-7.6-1.5-10.3-4.3s-4.3-6.4-4.3-10.3s1.5-7.6,4.3-10.3c2.8-2.8,6.4-4.3,10.3-4.3s7.6,1.5,10.3,4.3
            c5.7,5.7,5.7,15,0,20.7C25.4,31,21.8,32.5,17.9,32.5z M17.9,5.7c-3.2,0-6.3,1.3-8.6,3.6c-2.3,2.3-3.6,5.3-3.6,8.6s1.3,6.3,3.6,8.6
            c2.3,2.3,5.3,3.6,8.6,3.6s6.3-1.3,8.6-3.6c4.7-4.7,4.7-12.5,0-17.2C24.2,7,21.1,5.7,17.9,5.7z
            M42,43.3c-0.3,0-0.6-0.1-0.9-0.4L26.5,28.2c-0.5-0.5-0.5-1.3,0-1.7c0.5-0.5,1.3-0.5,1.7,0l14.7,14.7c0.5,0.5,0.5,1.3,0,1.7
            C42.7,43.2,42.4,43.3,42,43.3z"/>
          </svg>
        </div>
        <datalist id="courseNames">
          {{#each courseList}}
            <option value="{{this.courseName}}">{{this.courseName}}</option>
          {{/each}}
        </datalist>
      </div>
      <div id="courseSearchRes" class="float-clear">

      </div>
    </div>
    <div class="float-clear">
      <form action="/addtutorrequesthandler" method="post" id="addRequestForm">
        <h2>Add Tutor Request</h2>
        <p>
          <label for="fName">First Name</label>
          <input type="text" name="firstName" id="fName" required="required">
        </p>
        <p>
          <label for="lName">Last Name</label>
          <input type="text" name="lastName" id="lName" required="required">
        </p>
        <p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" size="30" required="required">
        </p>
        <p>
          <label for="phone">Phone</label>
          <input type="text" min="10" name="phone" id="phone" required="required">
        </p>

        <p>
          <label for="degree">Degree</label>
          <input type="text" list="degrees" name="degree" required="required" id="degree">
          <datalist id="degrees">
            <option value="Digital Arts &amp; Design">Digital Arts &amp; Design</option>
            <option value="Game Development">Game Development</option>
            <option value="Game Art">Game Art</option>
            <option value="Computer Animation">Computer Animation</option>
            <option value="Web Design &amp; Development">Web Design &amp; Development</option>
            <option value="Show Production">Show Production</option>
            <option value="Recording Arts">Recording Arts</option>
            <option value="Music Production">Music Production</option>
            <option value="Music Business">Music Business</option>
            <option value="Film">Film</option>
            <option value="Simuation &amp; Visualization">Simuation &amp; Visualization</option>
            <option value="Mobile Development">Mobile Development</option>
            <option value="Software Development">Software Development</option>
          </datalist>
        </p>
        <p>
          <label for="program">Program Type</label>
          <input type="text" name="program" list="programs" id="program" required="required">
            <datalist id="programs">
              <option value="Online">Online</option>
              <option value="Campus">Campus</option>
            </datalist>
        </p>
        <p>
          <label for="course">Course to Tutor</label>
          <input type="text" name="courseToTutor" required="required" id="course">
        </p>

        <p>
          <label for="assignTutor">Assign Tutor</label>
          <input type="text" name="assignTutorName" required="required" id="assignTutorName">
          <input type="hidden" name="assignTutor" id="assignTutor">
        </p>
        <button type="submit" class="blue_button">
           <svg viewBox="0 0 46.5 46.5" height="20" fill="#EBEBEB">
             <path d="M42.4,21.7H24.3V3.6c0-0.6-0.5-1-1-1c-0.6,0-1,0.5-1,1v18.1H4.2c-0.6,0-1,0.5-1,1s0.5,1,1,1h18.1v18c0,0.6,0.5,1,1,1
	c0.6,0,1-0.5,1-1v-18h18c0.6,0,1-0.5,1-1S43,21.7,42.4,21.7z"/>
            </svg>Add Tutor Request</button>
      </form>
      </div>
      <div>
        <h1>Rejected Requests</h1>
        <p>
          Click a request to view details and re-assign a tutor to handle it.
        </p>
        {{#if rejectedDocs}}
        <div class="listCont">


        {{#each rejectedDocs}}
          <a href="/dashboard/tutorrequest/{{this.requestId}}" class="userLi float-left">

              <span>&nbsp;{{this.firstName}}&nbsp;{{this.lastName}}</span>
              <div class="float-right">
                <span>{{this.dateAdded}}</span><br>
                <span class="orangeLabel">REJECTED</span>
              </div>
          </a>

        {{/each}}
        {{else}}
        <p>
          There are no rejected requests.
        </p>
        {{/if}}
      </div>

  {{!-- Start Tutor Side --}}
  {{else}}

  <!-- Error Messages -->
  {{#if tutorDashErrorMessage}}
  <div class="message error">
    {{tutorDashErrorMessage}}(click to close)
  </div>
  {{/if}}
  <!-- Success messages -->
  {{#if tutorDashSuccessMessage}}
  <div class="message success">
    {{tutorDashSuccessMessage}}(click to close)
  </div>
  {{/if}}

  <div class="totalHours section">
    <div class="col span-1-2">
      <h3>Total Session Hours</h3>
        <span class="hours">{{userData.monthlyTotalSessionHours}} &nbsp; Hours</span>
    </div>
    <div class="col span-1-2">
      <h3>Total Office Hours</h3>
        <span class="hours">{{userData.monthlyTotalShiftHours}} &nbsp; Hours</span>
    </div>
  </div>
  <div class="reqHelp customList">
    <h1>Requested Help</h1>
    <p>
      Click on a student request to view more information.
    </p>
    {{#if userData.studentsToTutor}}
    <div class="listCont">
    {{#each userData.studentsToTutor}}
      <a href="/dashboard/tutorrequest/{{this.requestId}}" class="userLi float-left">
        <div class="float-left liWrapper">
          {{#if this.pendingStatus}}
          <div>
            <span>{{this.firstName}}&nbsp;{{this.lastName}}&nbsp;</span><br>
            <span>{{this.courseToTutor}} &nbsp;</span>
          </div>
          <div class="float-right">
            <span class="orangeLabel">NEW!</span>
            <span>{{this.dateAdded}} &nbsp;</span>
          </div>
          {{else}}
          <div>
            <span>{{this.firstName}}&nbsp;{{this.lastName}}&nbsp;</span><br>
            <span>{{this.courseToTutor}} &nbsp;</span>
          </div>
          <div class="float-right">
            <span class="aquariusLabel">ACCEPTED!</span><br>
            <span>{{this.dateAdded}} &nbsp;</span>
          </div>
          {{/if}}

        </div>
      </a>

    {{/each}}
    </div>
    {{else}}
      <span>You have no students to tutor.</span>
    {{/if}}
  </div>
  {{/if}}
</div>
