<div>
    <h1>Edit User</h1>
    <form action="/edituserhandler" method="post">
      <p>
        <label for="fName">First Name</label>
        <input type="text" name="firstName" id="fName" required="required" value="{{userData.firstName}}">
      </p>
      <p>
        <label for="lName">Last Name</label>
        <input type="text" name="lastName" id="lName" required="required" value="{{userData.lastName}}">
      </p>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" size="30" required="required" value="{{userData.email}}">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required="required" value="{{userData.password}}">
      </p>
      <p>
        <label for="phone">Phone</label>
        <input type="text" min="10" name="phone" id="phone" required="required" value="{{userData.phone}}">
      </p>
      <p>
        <label for="idNumber">Student ID</label>
        <input type="text" min="10" name="idNumber" id="idNumber" required="required" value="{{userData.idNumber}}">
      </p>
      <p>
        <label for="degree">Degree</label>
        <select name="degree" required="required" id="degree">
          {{#if userData.degree }}
          <option value="{{userData.degree}}" selected>{{userData.degree}}</option>
          {{/if}}
          <option value="false">Select a Degree</option>
          <option value="Digital Arts &amp; Design">Digital Arts &amp; Design</option>
          <option value="Game Development">Game Development</option>
          <option value="Game Art">Game Art</option>
          <option value="Computer Animation">Computer Animation</option>
          <option value="Web Design &amp; Development">Web Design &amp; Development</option>
          <option value="Show Production">Show Production</option>
          <option value="Recording Arts">Recording Arts</option>
          <option value="Music Production">Music Production</option>
          <option value="Music Business">Music Business</option>
          <option value="Film">Film</option>
          <option value="Simuation &amp; Visualization">Simuation &amp; Visualization</option>
          <option value="Mobile Development">Mobile Development</option>
          <option value="Software Development">Software Development</option>
        </select>
      </p>
      <p>
        {{#if userData.admin}}
        <input type="checkbox" name="admin" checked="checked" value="true"> &nbsp; Administrator
        {{else}}
        <input type="checkbox" name="name" value="false"> &nbsp; Administrator
        {{/if}}
      </p>
      <p>
        {{#if userData.textAlert}}
        <input type="checkbox" name="textAlert" checked="checked" value="true">&nbsp;Text Alerts
        {{else}}
        <input type="checkbox" name="textAlert" value="false">&nbsp;Text Alerts
        {{/if}}
      </p>
      <input type="hidden" name="userId" value="{{userData.userId}}">
      <button type="submit" class="blue_button">Save Changes</button>
    </form>
</div>
