<div>
    <h1>Edit Profile</h1>
    <form action="/editprofilehandler" method="post">
      <p>
        <label for="fName">First Name</label>
        <input type="text" name="firstName" id="fName" value="{{userData.firstName}}">
      </p>
      <p>
        <label for="lName">Last Name</label>
        <input type="text" name="lastName" id="lName" value="{{userData.lastName}}">
      </p>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" size="30" value="{{userData.email}}">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="{{userData.password}}">
      </p>
      <p>
        <label for="phone">Phone</label>
        <input type="text" min="10" name="phone" id="phone" value="{{userData.phone}}">
      </p>
      <input type="hidden" name="idNumber" value="{{userData.idNumber}}">
      <button type="submit" class="blue_button">Save Changes</button>
    </form>
</div>
