<div>
  {{#if userData.admin}}
  <h1>Manage {{ officeHours.monthName}}'s Office Hours</h1>
  <!-- Start Month -->
  <div class="month">
      <!-- Start Week  -->
      {{#each officeHours.weeks}}
      <div class="week">
        <h2>Week {{@index}}</h2>
        <!-- Start Days -->
        <div class="days">
          {{#each this.weekDays}}
          <!-- Start Day -->
          <div class="day">
            <h3>{{this.dayName}}&nbsp; {{ this.dayDate}}</h3>
            <!-- Start Shifts -->
            <div class="shifts">
              {{#each this.shifts}}
              <div class="shiftType">
                <h4> {{this.times}}</h4>
                  {{#each this.tutors}}
                    <div class="tutorShift">
                      {{#if this.pending}}
                        <div class="shift pending">
                          <span>{{this.tutorName}}</span>
                          <a href="/denyshift" class="button fsorange float-right">Deny</a>
                          <a href="/acceptshift" class="button aquarius float-right">Accept</a>
                        </div>
                      {{/if}}
                      {{#if this.approved}}
                        <div class="shift approved">
                          <span>{{this.tutorName}}</span>
                        </div>
                      {{/if}}
                    </div>
                  {{/each}}
              </div>
              {{/each}}
            </div>
            <!-- End Shifts -->
          </div>
          <!-- End Day -->
          {{/each}}
        </div>
        <!-- End Days -->
      </div>
      <!-- End Week -->
      {{/each}}
  </div>
  <!-- End Month -->
  {{!-- Start Tutor Side --}}
  {{else}}
  <a href="/officehours/requestshift" class="button aquarius">Request Shift</a>
  <h1>View {{ officeHours.monthName}}'s Office Hours</h1>
  <!-- Start Month -->
  <div class="month">
      <!-- Start Week  -->
      {{#each officeHours.weeks}}
      <div class="week">
        <h2>Week {{@index}}</h2>
        <!-- Start Days -->
        <div class="days">
          {{#each this.weekDays}}
          <!-- Start Day -->
          <div class="day">
            <h3>{{this.dayName}}&nbsp; {{ this.dayDate}}</h3>
            <!-- Start Shifts -->
            <div class="shifts">
              {{#each this.shifts}}
              <div class="shiftType">
                <h4> {{this.times}}</h4>
                  {{#each this.tutors}}
                    <div class="tutorShift">
                      {{#if this.pending}}
                        <div class="shift pending">
                      {{/if}}
                      {{#if this.approved}}
                        <div class="shift approved">
                      {{/if}}
                        <span>{{this.tutorName}}</span>
                      </div>
                    </div>
                  {{/each}}
              </div>
              {{/each}}
            </div>
            <!-- End Shifts -->
          </div>
          <!-- End Day -->
          {{/each}}
        </div>
        <!-- End Days -->
      </div>
      <!-- End Week -->
      {{/each}}
  </div>
  <!-- End Month -->

  {{/if}}
</div>
