<div>
	<h1>User Profile</h1>
	<p><b>Name &nbsp;</b>{{ userData.firstName }}&nbsp;{{ userData.lastName }}</p>
	{{#if userData.degree}}
	<p><b>Degree &nbsp;</b>{{ userData.degree }}</p>
	{{/if}}
	<p><b>Email &nbsp;</b>{{ userData.email }}</p>
	<p><b>Phone &nbsp;</b>{{ userData.phone }}</p>
	{{#if userData.admin}}
	<p><b>Administrator</b></p>
	{{/if}}
	{{#if userData.textAlert}}
	<span><b>Text Alerts:</b> On</span><br>
	{{else}}
	<span><b>Text Alerts:</b> Off</span><br>
	{{/if}}
	<a href="/editprofile" class="blue_button">Edit Profile</a></br>
	<a href="logout" class="orange_button">Log Out</a>
</div>
