<div>
	<h1>User Profile</h1>
	<p>
		Please keep your information updated.
	</p>
	<p>{{ userData.firstName }}&nbsp;{{ userData.lastName }}</p>
	{{#if userData.degree}}
	<p>{{ userData.degree }}</p>
	{{/if}}
	<p>{{ userData.email }}</p>
	<p>{{ userData.phone }}</p>
	{{#if userData.admin}}
	<p>Administrator</p>
	{{/if}}
	{{#if userData.textAlert}}
	<span>Text Alerts are </span><span class="aquariusLabel bold">On</span><br>
	{{else}}
	<span>Text Alerts are </span><span class="orangeLabel bold">Off</span><br>
	{{/if}}
	<a href="/profile/editprofile" class="button aquarius">Edit Profile</a></br>
	<a href="logout" class="button fsorange">Log Out</a>
</div>
