<div>
    <h1>Request Shift</h1>
    <p>
      Select a the date and the shift time that you wish to work.
    </p>
    <form action="/officehours/request/shift/handler" method="post">
      <p>
        <label for="shiftDate">Date</label>
        <input name="shiftDate" id="shiftDate" list="shiftDates">
        <datalist id="shiftDates">
          {{#each workableDates}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </datalist>
      </p>
      <p>
        <label for="shift">Shift</label>
        <input name="shift" id="shift" list="shiftTimes">
        <datalist id="shiftTimes">
          <option value="10AM-1PM">10AM-1PM</option>
          <option value="1PM-4PM">1PM-4PM</option>
          <option value="Both">Both</option>
        </datalist>
      </p>
      <input type="hidden" name="userId" value="{{userData.userId}}">
      <input type="hidden" name="tutorName" value="{{userData.firstName}} {{userData.lastName}}">
      <button type="submit" class="aquarius">Submit</button>
    </form>
</div>
