<div>
	<h1>Time Sheet</h1>
	{{#if userData.admin}}
	<ul class="customList">
		{{#each users}}
		<li><b>Name&nbsp;</b>{{ firstName }}&nbsp;{{ lastName }} &nbsp;<b>Degree&nbsp;</b> {{degree}} &nbsp; &nbsp; </li>
		{{/each}}
	</ul>
  {{else}}
  <!-- Tutor Side -->
	<ul class="customList">
    <a href="/timesheet/addsession" class="button aquarius">Add Session</a>
		{{#each userData.timeSheet}}
		<li><b>Date&nbsp;</b>{{ this.sessionDate }} &nbsp;<b>Start Time&nbsp;</b> {{this.sessionStartTime}}&nbsp;<b>End Time&nbsp;</b> {{this.sessionEndTime}}&nbsp;<b>Total Hours&nbsp;</b> {{this.sessionTotal}}</li>
		{{/each}}
	</ul>
  {{/if}}
</div>
