<div>
	<h1>Time Sheet</h1>
	{{#if userData.admin}}
	<ul class="listCont">
		{{#each users}}
		<li class="userLi"><b>Name&nbsp;</b>{{ firstName }}&nbsp;{{ lastName }} &nbsp;<b>Total Session Hours&nbsp;</b> {{monthlyTotalSessionHours}}</li>
		{{/each}}
	</ul>
  {{else}}
  <!-- Tutor Side -->
	<a href="/timesheet/addsession" class="button aquarius">Add Session</a>
	<span><b>Total Session Hours &nbsp;</b>{{userData.monthlyTotalSessionHours}}</span>
	<ul class="listCont">
		{{#each userData.timeSheet}}
		<li class="userLi"><b>Date&nbsp;</b>{{ this.sessionDate }} &nbsp;<b>Start Time&nbsp;</b> {{this.sessionStartTime}}&nbsp;<b>End Time&nbsp;</b> {{this.sessionEndTime}}&nbsp;<b>Total Hours&nbsp;</b> {{this.sessionTotal}}</li>
		{{/each}}
	</ul>
  {{/if}}
</div>
