<h1>{{ tutor.firstName }}&nbsp;{{ tutor.lastName }}'s Tutor Sessions</h1>
{{#if tutor.timeSheet}}
<div class="listCont">
{{#each tutor.timeSheet}}
<div class="userLi">
    <div class="float-left text-wrap">
      <span>{{ this.sessionDate }} &nbsp;</span>
       <span>{{this.sessionStartTime}}&nbsp;</span>-
       <span>{{this.sessionEndTime}}&nbsp;</span>
       <span class="aquariusLabel bold">{{this.sessionTotal}}</span><span>&nbsp;Total Hours</span>
    </div>
</div>
{{/each}}
</div>
{{else}}
<p>
  This tutor does not have any time sheet entries.
</p>
{{/if}}
