<div>
	<h1>Time Sheet</h1>
	{{#if userData.admin}}
	<ul class="userList">
		{{#each users}}
		<li><b>Name&nbsp;</b>{{ firstName }} &nbsp;<b>Degree&nbsp;</b> {{degree}} &nbsp; &nbsp; </li>
		{{/each}}
	</ul>
  {{else}}
  <!-- Tutor Side -->
	<ul class="userList">
    <a href="/adduser" class="blue_button">Add Session</a>
		{{#each session}}
		<li><b>Date&nbsp;</b>{{ userName }} &nbsp;<b>Email&nbsp;</b> {{userEmail}}</li>
		{{/each}}
	</ul>
  {{/if}}
</div>
