<div>
	<h1>Time Sheet</h1>
	{{#if userData.admin}}
	<ul class="customList">
		{{#each users}}
		<li><b>Name&nbsp;</b>{{ firstName }}&nbsp;{{ lastName }} &nbsp;<b>Degree&nbsp;</b> {{degree}} &nbsp; &nbsp; </li>
		{{/each}}
	</ul>
  {{else}}
  <!-- Tutor Side -->
	<ul class="customList">
    <a href="/timesheet/addsession" class="button aquarius">Add Session</a>
		{{#each session}}
		<li><b>Date&nbsp;</b>{{ date }} &nbsp;<b>Email&nbsp;</b> {{email}}</li>
		{{/each}}
	</ul>
  {{/if}}
</div>
