<div>
	<h1>Time Sheet</h1>
	{{#if userData.admin}}
	<p>
		Click on a tutor to see all the time sheet entries for this academic month.
	</p>
	<div class="listCont">
	{{#each users}}
	<div class="userLi">
		<a href="/timesheet/tutortimesheetdetails/{{userId}}" class="float-left">
			<div class="float-left text-wrap">
				<b>Name&nbsp;</b>{{this.firstName}}&nbsp;{{this.lastName}}&nbsp;
				<b>Total Session Hours&nbsp;</b> {{this.monthlyTotalSessionHours}}
			</div>
		</a>
	</div>
	{{/each}}
</div>

  {{else}}
  <!-- Tutor Side -->
	<p>
		Every time you meet up with a student, you will log the hours here.
	</p>
	<a href="/timesheet/addsession" class="button aquarius">Add Session</a>
	<span><b>Total Session Hours &nbsp;</b>{{userData.monthlyTotalSessionHours}}</span>
	<ul class="listCont">
		{{#each userData.timeSheet}}
		<li class="userLi"><b>Date&nbsp;</b>{{ this.sessionDate }} &nbsp;<b>Start Time&nbsp;</b> {{this.sessionStartTime}}&nbsp;<b>End Time&nbsp;</b> {{this.sessionEndTime}}&nbsp;<b>Total Hours&nbsp;</b> {{this.sessionTotal}}</li>
		{{/each}}
	</ul>
  {{/if}}
</div>
