<div>
	<h1>Time Sheet</h1>
	{{#if userData.admin}}
	<p>
		Click on a tutor to see all the time sheet entries for this academic month.
	</p>
	<div class="listCont">
	{{#each users}}
	<div class="userLi">
		<a href="/timesheet/tutortimesheetdetails/{{userId}}" class="float-left">
			<div class="float-left text-wrap">
				{{this.firstName}}&nbsp;{{this.lastName}}&nbsp;
				 <span class="aquariusLabel bold">{{this.monthlyTotalSessionHours}}</span><span>&nbsp;Total Session Hours</span>
			</div>
		</a>
	</div>
	{{/each}}
</div>

  {{else}}
  <!-- Tutor Side -->

	<!-- Error Messages -->
  {{#if tutorTimeSheetErrorMessage}}
  <div class="message error">
    {{tutorTimeSheetErrorMessage}}(click to close)
  </div>
  {{/if}}
  <!-- Success messages -->
  {{#if tutorTimeSheetSuccessMessage}}
  <div class="message success">
    {{tutorTimeSheetSuccessMessage}}(click to close)
  </div>
  {{/if}}
	<div class="span-1-2 float-right">
		<a href="/timesheet/addsession" class="button aquarius float-right">Add Session</a>
	</div>
	<div class="col span-1-2">
		<p>
			Every time you meet up with a student, you will log the hours here.
		</p>
		<span class="aquariusLabel bold">{{userData.monthlyTotalSessionHours}}</span><span>&nbsp;Total Session Hours</span>
	</div>



	<ul class="listCont">
		{{#each userData.timeSheet}}
		<li class="userLi">
			{{ this.sessionDate }} &nbsp;
			<span>{{this.sessionStartTime}}&nbsp;</span>-
			<span>{{this.sessionEndTime}}&nbsp;</span>
			<span class="bold">{{this.sessionTotal}}</span>
			<span>Total Hours&nbsp;</span>
		</li>
		{{/each}}
	</ul>
  {{/if}}
</div>
