<div>
	<h1>Student's Details</h1>
	<p><b>Name &nbsp;</b>{{ tutorRequest.firstName }}&nbsp;{{ tutorRequest.lastName }}</p>
	<p><b>Email &nbsp;</b>{{ tutorRequest.email }}</p>
  <p><b>Phone &nbsp;</b>{{ tutorRequest.phone }}</p>
	<p><b>Date Added&nbsp;</b>{{ tutorRequest.dateAdded }}</p>
  <p><b>Degree &nbsp;</b>{{ tutorRequest.degree }}</p>
	<p><b>Course to Tutor &nbsp;</b>{{ tutorRequest.courseToTutor }}</p>
  <p><b>Program &nbsp;</b>{{ tutorRequest.program }}</p>
	<a href="#" class="button aquarius">Accept</a>
	<a href="#" class="button fsorange">Deny</a>
</div>
