<div>
	<h1>Users</h1>
	{{#if userData.admin}}

	<!-- Error Messages -->
  {{#if adminUsersErrorMessage}}
  <div class="message error">
    {{adminUsersErrorMessage}}(click to close)
  </div>
  {{/if}}
  <!-- Success messages -->
  {{#if adminUsersSuccessMessage}}
  <div class="message success">
    {{adminUsersSuccessMessage}}(click to close)
  </div>
	{{/if}}

	<p>
		Click on a user's name to view details
	</p>
  <a href="/users/adduser" class="button aquarius">Add User</a>
	<br/>
	<div class="listCont">
		{{#each users}}
		<div class="userLi">
			<a href="/users/userprofiles/{{userId}}" class="float-left">
				<div class="float-left text-wrap">
					{{firstName}}&nbsp;{{lastName}}&nbsp;
					{{#if this.degree}}
					{{degree}} &nbsp;
					{{/if}}

					{{#if this.admin}}
					<span class="aquariusLabel bold">Administrator</span>
					{{/if}}
				</div>
				<a href="/users/deleteuserhandler/{{userId}}" class="button fsorange float-right">Delete</a>&nbsp;
				<a href="/users/edituser/{{userId}}" class="button aquarius float-right">Edit User</a>
			</a>
		</div>

		{{/each}}
	</div>
  {{else}}
	<p>
		Click on a user to view details.
	</p>
	<div class="listCont">
	{{#each users}}
		<a href="users/userprofiles/{{userId}}" class="userLi float-left">
		<div class="float-left">
			<span>{{this.firstName}}&nbsp;{{this.lastName}}&nbsp;</span>
			{{#if this.degree}}
			<span>{{degree}} &nbsp;</span>
			{{/if}}

			{{#if this.admin}}
			<span class="aquariusLabel bold">Administrator</span>
			{{/if}}
		</div>
	</a>
	{{/each}}
	</div>
  {{/if}}
</div>
