<div>
	<h1>User's Details</h1>
	<p>
		<span>{{ userProfile.firstName }}&nbsp;{{ userProfile.lastName }}</span>
	</p>
	{{#if userProfile.degree}}
	<p>{{ userProfile.degree }}</p>
	{{/if}}
	<p>{{ userProfile.email }}</p>
	<p>{{ userProfile.phone }}</p>
	{{#if userProfile.admin}}
	<p>Administrator</p>
	{{/if}}
</div>
